body {
  margin: 0;
  height: 100vh;
  background: #515151;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container>p{
    color: white;
}

#login-container>#login-error-message{
    color: red;
}